#sticky {
    position : sticky;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    left: 95%;
    top :50%;
    float: left;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
 }

 input[type="radio"] {
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    align-self: center;
    margin: 0;
    max-width: 9px;
    min-width: 9px;
    max-height: 25px;
    min-height: 25px;
    border-radius: 1px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    background-color:  #ffffffbb;
  }

  input[type="radio"]:checked {
    background-color:  white;
    max-width: 11px;
    min-width: 11px;
  }


